<!-- Header -->
<header ng-include="'partials/theme/_header.html'">
</header>

<!-- orderNow Section -->
<section id="orderNow" ng-include = "'partials/_weekSchedule.html'">
</section>

<!-- Menu Grid Section -->
<section id="portfolio" class="bg-light-gray" ng-include = "'partials/theme/_menu.html'">
</section>


<!-- Service Section -->
<section id="services" ng-include = "'partials/theme/_services.html'">
</section>


<!-- Testimonials Section -->
<section id="about"  ng-include = "'partials/theme/_about.html'">
</section>

<!-- Team Section -->
<!--<section id="team" class="bg-light-gray" ng-include = "'partials/theme/_team.html'">-->
<!--</section>-->


<section id="contact" ng-include = "'partials/theme/_contact.html'" >
</section>