<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container"
         ng-include="'partials/marketing/_nav.html'">
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header ng-include="'partials/marketing/_header.html'">
</header>




<!-- Service Section -->
<section id="services" ng-include = "'partials/marketing/_services.html'">
</section>


<!-- Testimonials Section -->
<section id="about"  ng-include = "'partials/marketing/_about.html'">
</section>




<section id="contact" ng-include = "'partials/marketing/_contact.html'" >
</section>