<section class="intro">
    <nav role="navigation" itemscope itemtype="SiteNavigationElement">
        <h2 class="visuallyhidden">Navigation</h2>
        <a href="">Sign In</a>
    </nav>
    <header role="banner" itemscope itemtype="WPHeader">
        <h1>
            <img src="img/logo.svg" />
            Pack <span>a</span> Lunch
        </h1>
        <p>Authentic Homemade Indian Food Delievered Daily</p>
    </header>
    <section class="search">
        <h2 class="visuallyhidden">Search for Tiffins in Your Area</h2>
        <input type="text" value="Enter Your City or Zip (Postal) Code" />
        <button>Go</button>
    </section>
</section>