<div class="control-group">
    <label class="control-label" for="inputFirstName">First name:</label>

    <div class="controls">
        <input type="text" name="inputFirstName" id="inputFirstName" ng-model="user.first_name" placeholder="First name" required/>
        <br>
        <span ng-show="userForm.inputFirstName.$dirty && userForm.inputFirstName.$error.required">Required!</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputLastName">Last name:</label>

    <div class="controls">
        <input type="text" id="inputLastName" ng-model="user.last_name" placeholder="Last name"/>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputAddress">Address:</label>

    <div class="controls">
        <input type="text" id="inputAddress" ng-model="user.address" placeholder="Address"/>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputPhone">Phone:</label>

    <div class="controls">
        <input type="text" id="inputPhone" ng-model="user.telephone" placeholder="Phone"/>
    </div>
</div>

<div class="control-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary" value="Save"/>
    </div>
</div>