<h1>What's for lunch Ari?</h1>


<legend class="visuallyhidden">Food order form</legend>
<ol>
    <li>
        <label for="name">My name</label><br/>

            <div ng-controller="UserSuggestController">

                <div class="padded-row">
                    <angucomplete id="name"
                                  placeholder="Search"
                                  pause="300"
                                  selectedobject="selectedPerson"
                                  localdata="people"
                                  searchfields="first_name,last_name"
                                  titlefield="first_name,last_name"
                                  minlength="2"
                                  matchclass="highlight" />
                </div>
                <div class="" ng-show="selectedPerson">
                    You selected <span class="bold-span">{{selectedPerson.originalObject.first_name}} {{selectedPerson.originalObject.last_name}}</span>
                    <div style="visibility: hidden;">{{$scope.selectedCustomer = selectedPerson.originalObject}}</div>
                </div>
            </div>

    </li>

</ol>

<p class="confirmation">Chill. You will get your lunch soon.</p>